* {
    font-family: "Montserrat";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;

}

h1 {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 16px 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 24px;

}

p {
    color: #979797;
    margin: 0 0 16px 0;
    font-size: 24px;
}

section {
    padding: 64px 128px;
}

img,
iframe {
    width: 100%;
}

.btn {
    background-color: #FFC108;
    color: white;
    padding: 8px 24px;
    margin-right: 20px;

}

.btn-alt {
    background-color: whitesmoke;
    color: black;
    border: 2px solid #FFC108;
}

#headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5px;
}

#headers h1 {
    margin: 0;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;

}

#landing>div {
    width: 50%;
}

#landing p {
    margin-bottom: 32px;
}

nav>a {
    margin-left: 16px;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#about>div {
    width: 50%;
}

#about-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 72px;
}

#about img {
    width: 80%;
}

.about-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-stats>div>div {
    width: 50px;
    height: 10px;
    background-color: #FFC108;
    margin-bottom: 16px;
}

#service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#service-header a:hover {
    background-color: lawngreen;
}

#service-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 128px;
    margin-top: 72px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

#service-detail:hover {
    filter: none;
}

#service-detail-item {
    box-shadow: 2px 4px 4px #979797;
}

#service-detail img {
    width: 100%;
    box-shadow: 1px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

#service-detail img:hover {
    transform: scale(1.15);

}


#service-detail-item p {
    font-size: 16px;
    padding: 0 16px;
}

#service-detail-item h2 {
    padding: 0 16px;
}

.contact-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
}

.contact-detail>div,
.contact-detail>form {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    border: 3px solid #FFC108;
    padding: 32px 32px;
}

form button {
    border: none;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
    margin-top: 32px;
    grid-template-areas: "name subject"
        "email phone"
        "message message"
    ;
}



#input-name {
    grid-area: name;
}

#input-subject {
    grid-area: subject;
}

#input-email {
    grid-area: email;
}

#input-phone {
    grid-area: phone;
}

#input-message {
    grid-area: message;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.input-group label {
    font-weight: 700px;
    margin-bottom: 16px;
    font-size: 24px;
}

.input-group input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.lokasi iframe {
    width: 570px;
    height: 350px;
}

footer {
    padding: 16px 128px;

    background-color: #FFC108;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer a {
    color: wheat;
    width: 50%;
}

.social-icon {
    display: flex;
    gap: 32px;
}

@media only screen and (max-width: 1200px) {
    .service-detail {
        gap: 24px;
    }

    .contact-detail {
        gap: 24px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }
}



@media only screen and (max-width: 992px) {

    #header,
    #footer {
        padding: 16px 32px;

    }

    section {
        padding: 16px 32px;
    }

    #landing {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #landing>div {
        width: 100%;
    }

    #about {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #about>div {
        width: 100%;
    }

    #service-detail {
        gap: 16px;

    }

    .contact-detail {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 64px;
    }

    .contact-detail form,
    .contact-detail>div {
        width: 100%;
    }

}